langchain==0.1.4
langchain_community==0.0.16
langchain_core==0.1.17
langchain_openai==0.0.5
python-dotenv==1.0.1
streamlit==1.30.0
chromadb==0.3.29
bs4==0.0.2
beautifulsoup4==4.12.3
unstructured==0.7.12
image==1.5.33
pdfminer.six==20231228
pillow-heif==0.15.0
